*{
	margin:0;
	padding:0;
	font-family:"Lucida Sans Unicode", "Trebuchet MS", Tahoma, Geneva, Helvetica, sans-serif;
	font-size:100%;
	line-height: 1rem
}
body{
	background-color:#cecece;
	color:#222;
}
main{
	width:95vw;
	margin:0 auto;
	background-color:#fff;
	padding: 0;
}
h2{
	text-transform:uppercase;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color:#313c4e;
	font-weight: 700;
	margin:0.125rem 0;
}

.personal-info{
	height:47vh;
	padding:0.625rem;
	display: inline-flex;
	vertical-align: middle;
	letter-spacing: 0.0625px;
	margin: 1vh 1vh;
}
.personal-info img{
	border-radius: 9.5vw;
	width:19vw;
	height:19vw;
	margin:auto;
}
.personal-info div{
	margin:auto;
	text-align: justify-all;
	padding-right: .8rem;

}
.personal-info h3{
	padding:1vh;
	font-size:1.35rem;
	font-stretch:ultra-condensed;
	font-weight: 500;
}
.personal-info h4{
	padding:1vh;
	color: #313c4e;
	font-size: 1.2rem;
	font-stretch: ultra-condensed;
	font-weight: 300;
}
.personal-info p{
	padding:.1vw;
	font-size: .75rem;
	text-shadow: 0.0625rem 0rem 0.125rem lightgray;
}
.personal-info .contact-me button{
	display:block;
	width:16vh;
	font-size:.8rem;
	margin:.5vh auto;
	text-align: center;
	padding: .2vh;
}
.contact-information, .hng-information{
	background-color: #313c4e;
	color: #fff;
	padding:0.625rem;
	vertical-align: middle;
}
.contact-information a, .hng-information a{
	color:#fff;
	font-size:1rem;
	line-height: 1.25rem;
	margin: 0.65rem 0.5rem;
	width:calc(100% - 2rem);
	display:inline-block;
	position: relative;
	text-decoration: none;
}
.contact-information a:hover, .hng-information a:hover{
	text-decoration: underline;
}
.contact-information a:focus, .hng-information a:focus{
	color:grey;
}

.contact-information span, .hng-information span{
	color:grey;
}
.icon{
	position: relative;
	top: 0.0625rem;
	display:inline-block;
	height:0.9rem;
	width: 1.25rem;
	margin: auto 0.125rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #313c4e;
}
.hng-information .icon{
	background-color: white;
	width:5rem;
	height:1.2rem
}
.hng-information h2{
	margin-left: 0.65rem;
	color:#fff;
}
.icon-email{
	background-image: url("../img/envelope.png");
}
.icon-phone{
	background-image: url("../img/iphone.png");
}
.icon-location{
	background-image: url("../img/location.png");
}
.icon-github{
	background-image: url("../img/social-github.png");
}
.icon-twitter{
	background-image: url("../img/social-twitter.png");
}
.icon-linkedin{
	background-image: url("../img/social-linkedin.png");
}
.icon-hng{
	background-image: url("../img/hng.png");
}
.icon-ingressive{
	background-image: url("../img/ingressive.png");
}
.icon-zuri-training{
	background-image: url("../img/zuri_training.svg");
}
.icon-zuri-internship{
	background-image: url("../img/zuri_internship.svg");
}
.icon-zuri{
	background-image: url("../img/zuri_team.svg");
}
/*competence classes*/
.competence{
	margin:0.25rem;
	display:inline-flex;
	justify-content: space-around;
	flex-flow: wrap;
}
.education, .skills,
.work-experience,.personal-project,
.organizations,.certificates,
.languages,.interests{
	margin:0 0.625rem;
	width:calc(100% - 2.5rem);
	height: auto;
}
.competence h2{
	text-transform: uppercase;
	margin:0;
	font-size: 1.3rem;
	line-height: 2;
}

.competence h3{
	font-size: 1.25rem;
	line-height: 2rem;
	display: list-item;
	list-style-image: url("../img/android-remove.png");
	list-style-position: outside;

}
.competence h4{
	font-size: 1.15rem;
	line-height: 1.3rem;
	font-weight: normal;
}
.competence li{
	list-style: none;
}

.date, .address{
	font-style: italic;
	font-size:0.75rem;
	line-height: 1rem;
	color: #313c4e;
	display: inline;
}
.address{
	float:right;
	margin-right: 0.1rem
}
.courses > p, .task >p, .organization-desciption,.org .role, .proficiency{
	font-style: italic;
	font-size:0.9rem;
	line-height: 1.2rem;
	color: #313c4e;
}

.courses li, .task li{
	list-style-type: circle;
	list-style-position: outside;
	font-size:.9rem;
	line-height: 1.2rem;
	margin-left: 1rem;
}
.organization-desciption,.org .role,.proficiency{
	color: rgb(102,102,102);
	font-size: .8rem;
}

.skills p{
	font-size: 0.95rem;
	display:inline-block;
	margin:0.3rem;
	height: 1rem;
	padding: 0.5rem;
	line-height: 1rem;
	border-radius: 0.2rem;
	background-color: rgb(102,102,102);
	color: #ddd;
}
.personal-project li{
	margin-bottom:1.25rem;
}
.name,.duration{
	font-size:.9rem;
	line-height: 1.4rem;
	text-shadow: 0.0625rem 0rem 0.125rem #ccc;
}
.personal-project .description{
	display: list-item;
	list-style-type: circle;
	list-style-position: outside;
	font-size:0.9rem;
	line-height: 1.1rem;
	margin-left: 0.9rem;
}
.languages ul{
	display:flex;
	flex-flow: wrap;
}
.languages li {
	width:calc(50% - 1rem);
	margin-bottom:0.5rem;
	margin-right: 0.5rem;
}
.lang .title{
	text-transform: capitalize;
}

.interests li{
	display:inline-block;
	margin:0.3rem;
	height: 1rem;
	padding: 0.5rem;
	line-height: 1rem;
	border-radius: 0.2rem;
	border: 2px solid lightgray;
	border-style: groove;
}

/* form styling */
.checkout{
    background-color:#262e3b;
    width:95vw;
    height:75vh;
    margin: 5vh 2.5vw;
    position:fixed;
    top:0;
    opacity:0;
    overflow: scroll;
    z-index:-1;
}

.checkout-disappear{
    animation-name: shrink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: -1;
}
.checkout-reappear{
    animation-name: unshrink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
}
.checkout-items{
    width:98%;
    margin:1.6vh 1%;
    margin-bottom:1vh;
    /* background-color:silver; test */
}
.checkout-form{
    width:90%;
    padding:2vh 5%;
    margin-top: 1vh;
    /* background-color: yellow; testing */
    position: relative;
}
.checkout h2{
	color:white;
	margin-bottom: 2vh;
	margin-left: 1%;
}
form input,textarea{
    height:2rem;
    margin:1.5vh auto;
    width:95%;
    display:inline-block;
    border:none;
    outline:none;
    font-size:1rem;
    background-color: #cecece;
    border-bottom: rgb(54, 54, 54) groove 1px;
	color:#222;
	padding: 0;
}

.message{
	height: 20vh;
	border:none;
	border-bottom: rgb(54, 54, 54) groove 1px;
	border-right: rgb(54, 54, 54) groove 1px;
}
.input-error{
    border-bottom-color:rgb(230, 34, 16);
}
.error-message{
    display:hidden;
    color:rgb(230, 34, 16);
    font-size:0.7rem;
    margin-left: .25rem;
    margin-bottom:.25rem;
    font-weight: bold;
    opacity: 0.9;
}
.checkout-form div p{
    text-align:center;
    margin-bottom:2vh;
}
.danger{
	color:rgb(163, 18, 18);
}
.success{
	color:rgb(68, 161, 68);
}
.show{
	display:block;
}
.hide{
	display:none;
}
.button{
    display:flex;
    justify-content: center;
}
button[type]{
    margin:0.25rem;
    display:inline-block;
    color:#ccc;
    background-color: #313c4e;
    width:calc(45% - .5rem);
    height:2.5rem;
    border:none;
    border-radius:0;

}
button[type]:active{
    background-color: #333;
}

/* checkout animation */
@keyframes shrink{
    from{
        opacity: 1;}
    to{
        opacity: 0;
    }
}

@keyframes unshrink{
     from{
        opacity: 0;}
    to{
        opacity: 1;
    }
}

@media screen and (min-width: 724px){
	main{
		width:85vw;
	}
	h2{
		font-size: 1.5rem;
		line-height: 2rem;
		margin:0.125rem 0;
	}

	.personal-info{
		height:30vh;
		padding:0.625rem;
		letter-spacing: 0.0625px;
		margin: 1vh 2vh;
	}
	.personal-info img{
		border-radius: 12vh;
		width:24vh;
		height:24vh;
		margin:auto 2vh;
	}
	.personal-info .contact-me button{
		width:24vh;
		font-size:1rem;
		margin:1vh auto;
		text-align: center;
		padding: .3vh;
		height:2rem;
	}
	.personal-info div{
		margin:auto 2vh;
		padding-right: 1.25rem;

	}
	.personal-info h3{
		padding:2vh;
		font-size:2rem;
	}
	.personal-info h4{
		padding:2vh;
		font-size: 1.375rem;
	}
	.personal-info p{
		padding:1.5vh;
		font-size: .9rem;
	}
	.contact-information, .hng-information{
		padding:0.625rem;
	}
	.contact-information a, .hng-information a{
		font-size:1rem;
		line-height: 1.25rem;
		margin: 0.625rem;
		width:calc(50% - 2.5rem);
	}
	.hng-information h2{
		margin-left: 0.625rem;
		color:#fff;
	}
	/*competence classes*/
	.competence{
		margin:0.625rem;
		display:block;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}
	.education, .skills,
	.work-experience,.personal-project,
	.organizations,.certificates,
	.languages,.interests{
		margin:0 0.625rem;
		width:calc(100% - 2.5rem);
	}
	.competence h2, .hng-information{
		margin:0;
		font-size: 1.7rem;
		line-height: 3.4rem;
	}
	.competence h3{
		font-size: 1.3rem;
		line-height: 2rem;
	}

	.competence h4{
		font-size: 1.3rem;
		line-height: 1.6rem;
	}
	.date, .address{
		font-size:0.8rem;
		line-height: 1.2rem;
	}
	.address{
		margin-right: 0.1rem
	}
	.courses > p, .task >p, .organization-desciption,.org .role, .proficiency{
		font-size:0.9rem;
		line-height: 1.2rem;
	}

	.courses li, .task li{
		font-size:1rem;
		line-height: 1.2rem;
		margin-left: 1rem;
	}
	.organization-desciption,.org .role,.proficiency{
		font-size: 0.8rem;
	}

	.skills p{
		margin:0.3rem;
		height: 1rem;
		padding: 0.5rem;
		line-height: 1rem;
		border-radius: 0.2rem;
	}
	.personal-project li{
		margin-bottom:1.25rem;
	}
	.name,.duration{
		font-size:1.1rem;
		line-height: 1.4rem;
	}
	.personal-project .description{
		font-size:0.9rem;
		line-height: 1.1rem;
		margin-left: 0.9rem;
	}
	.languages li {
		width:calc(50% - 1rem);
		margin-bottom:0.5rem;
		margin-right: 0.5rem;
	}

	.interests li{
		margin:0.3rem;
		height: 1rem;
		padding: 0.5rem;
		line-height: 1rem;
		border-radius: 0.2rem;
	}
	/* checkout styling */
    .checkout{
        width:60vw;
        height:75vh;
        margin: 10vh 20vw;
    }
    .checkout-items{
        margin:0vh 0;
        margin-bottom: 1.5vh;
    }
    .checkout-form{
        width:70%;
        margin:2vh auto;
        margin-top:1.5vh;
    }
    form input, textarea{
        height:2.3rem;
        width:95%;
		margin:1.8vh auto;
    }
    .error-message{
        font-size:0.75rem;
        margin-bottom:1vh;
        margin-left: .65rem;
    }
    .button{
        justify-content: flex-end;
    }
    button[type]{
        margin:1.9vh 2vw;
		margin-bottom: 0;
        width:20%;
        height:2.4rem;
    }
	.checkout-form div p{
        margin-bottom:.5vh;
    }

	
}
@media screen and (min-width: 1024px){
	main{
		width:75vw;
	}
	.personal-info p{
		padding:2vh;
		font-size: 1rem;
	}

}